@import "tailwindcss";

:root {
  --background: #7f0c0c;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7f0c0c;
    --foreground: black;
  }
}

header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #af0101, #310101);
  padding: 1rem 3rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 50px;
  width: auto;
}

.team-name {
  font-size: 2rem;
  font-weight: 300;
  /* Thin text */
  margin: 0;
}

.season-year {
  font-size: 1rem;
  font-weight: 80;
  letter-spacing: 2px;
}

.game-bar {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
}

.card {
  background: #d4af37;
  padding: 0.5rem;
  border-radius: 8px;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
}

.card.selected {
  background: #e4e3e3;
}

.main-content {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: #f9f1f1;
}

.filters {
  flex: 1;
  background: #f5f5f5;
  padding: 1rem;
}

.table-section {
  flex: 3;
}

.player-profile {
  flex: 2;
  background: #f5f5f5;
  padding: 1rem;
}

.player-table {
  width: 100%;
  border-collapse: collapse;
}

.player-table td.season-rank {
  background-color: rgb(72, 71, 71); /* Light background for cells */
  color: gold; /* Black text for cells */
  font-weight: bold; /* Bold text */
}

.player-table td.game-rank {
  background-color: lightgray; /* Light background for cells */
  color: black; /* Black text for cells */
  font-weight: bold; /* Bold text */
}

.player-table th {
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  background-color: #310101;
  color: white;
  border-bottom: 2px solid #af0101;
  position: relative;
}

.player-table th .header-label {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.player-table th .sort-icons {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin-left: 0.25rem;
}

.player-table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.player-table thead {
  background-color: #310101;
  color: white;
}

.player-table th .sort-icons svg {
  font-size: 0.8rem; /* Adjust icon size */
  margin: 0; /* Remove extra spacing */
  line-height: 1;
}

.player-table th .sort-icons svg:first-child {
  margin-bottom: -2px; /* Slight overlap for the up arrow */
}

.player-table th .sort-icons svg:last-child {
  margin-top: -2px; /* Slight overlap for the down arrow */
}

.player-table th.sorted {
  color: gold;
}