@import "tailwindcss";

:root {
  --background: #7f0c0c;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7f0c0c;
    --foreground: black;
  }
}

header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #af0101, #310101);
  padding: 1rem 3rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 50px;
  width: auto;
}

.team-name {
  font-size: 2rem;
  font-weight: 300; /* Thin text */
  margin: 0;
}

.season-year {
  font-size: 1rem;
  font-weight: 80;
  letter-spacing: 2px;
}

.player-table thead {
  background-color: #310101;
  color: white;
  border-color: #310101;
}

.game-cards {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
}

.card {
  background: #d4af37;
  padding: 0.5rem;
  border-radius: 8px;
  min-width: 150px;
  text-align: center;
}

.card.loss {
  background: #bbb;
}

.main-content {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: #f9f1f1;
}

.filters {
  flex: 1;
  background: #f5f5f5;
  padding: 1rem;
}

.table-section {
  flex: 3;
}

.player-profile {
  flex: 2;
  background: #f5f5f5;
  padding: 1rem;
}

.player-table {
  width: 100%;
  border-collapse: collapse;
}

.player-table th{
  user-select: none;
}
th:hover {
  background-color: #510101; 
}

.player-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

